﻿.item-list a.item-date, .item-list:hover .post-format-icon:before{display:none;}
#slide-out{ left: -280px}
body.rtl #slide-out{ left: auto; right:-280px;}
.item-list:hover a.item-date{display:block;}