.post-social div , .commentmetadata, .twitter-timestamp,.search-block button.search-button, h3.toggle-head-open .tieicon-up, h3.toggle-head-close .tieicon-down
{float: left;}
.author-social, #related_posts .related-item .post-thumbnail, .comment-avatar, .author-comment cite, .flickr-wrapper .flickr_badge_image,
.post-tabs ul.tabs-nav li, .post-tabs-ver ul.tabs-nav
{float: right;}

.tieicon-reddit:before {direction: ltr}

#content { margin-right: 90px; margin-left: 0; float: right;}

#main-nav ul li.horiz-menu ul.sub-menu{	left: auto; right: 288px;}

#sidebar, .cover-img, #slide-out {left: auto;right: 0;}
.cover-img {
	-webkit-box-shadow: -1px 0 1px rgba(0,0,0,0.15);
	-moz-box-shadow: -1px 0 1px rgba(0,0,0,0.15);
	box-shadow: -1px 0 1px rgba(0,0,0,0.15);
}
.container{margin-left: 0; margin-right: 320px;}
#slide-out-open{left: auto; right: 10px;}
#main-nav ul li a .sub-indicator {right: auto;left: 15px;}
#main-nav ul ul {padding-left: 0; padding-right: 10px;}
#main-nav  ul ul li:hover > a, #main-nav  ul ul :hover > a {padding-left:5px !important;padding-right:15px !important;}
.post p.post-meta span {margin-right: 0; margin-left: 10px;}
blockquote {margin: 25px 20px 35px 0;border-left: 0 none;border-right: 7px solid #999;}
.csstransforms3d.csstransitions .js-nav #main-content {right: 280px; left: auto;}
.csstransforms3d.csstransitions .js-nav #main-content, .csstransforms3d.csstransitions .js-nav #sidebar{left: auto !important;	right: 0 !important;}
#slide-out {
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.csstransforms3d.csstransitions .js-nav #main-content, .csstransforms3d.csstransitions .js-nav #sidebar {
	-webkit-transform: translate3d(-280px, 0, 0);
	-moz-transform: translate3d(-280px, 0, 0);
	-ms-transform: translate3d(-280px, 0, 0);
	-o-transform: translate3d(-280px, 0, 0);
	transform: translate3d(-280px, 0, 0);
}
#open-slide-overlay {left: auto;right: 280px;}
#ascrail2000{right:275px !important;left:auto !important;}

.post-social span {margin-left: 5px; margin-right: 0;}

.post-next {float: right;padding-left: 0;padding-right: 40px;}
.post-next a:after {content: '«';left: 0px;}
.post-previous {float: left;text-align: left;padding-left: 40px;padding-right: 0;}
.post-previous a:after {content: '»';right: 0px;}

.author-avatar img {float: right;margin: 0 0 5px 10px;}

#related_posts .related-item .post-thumbnail, .comment-avatar {margin: 0 0 0 10px;}

.comment-content {margin-right: 90px; margin-left: 0;}
.commentlist .reply a { left: 0; right: auto; }
.commentlist .children {margin-left: 0; margin-right: 50px;}
.post p.post-meta span:after {margin-right: 10px; margin-left: 0;}

#slide-out .widget-counter li a strong {float: right;margin-right: 0; margin-left: 5px;}
.widget li {background-position: right 8px; padding: 0 12px 5px 0;}
.widget .post-thumbnail, .footer-widget-container .post-thumbnail {float: right;margin: 0 0 0 10px;}
#twitter-widget li {padding: 10px 30px 10px 10px;}
#twitter-widget li:before {float: right;margin-left: 0;margin-right: -30px;}

#login-form .login-button {margin-right: 0;margin-left: 20px;}

/* Shortcodes */
.dropcap { float: right; margin: 0 0 0 8px; }
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth { margin-right: 0; margin-left: 4%; float: right; }
.entry .last { margin-left: 0 !important; clear: left; }
.post-tabs ul.tabs-nav li { margin: 0 0 0 5px }
.post-tabs-ver .pane { margin-left: 0; margin-right: 170px; }
.post-tabs ul.tabs-nav { padding-left: 0; padding-right: 20px; }
.post-tabs-ver ul.tabs-nav li { border-radius: 0 4px 4px 0; border-left-width: 0; border-right-width: 1px; }
.author-info img.author-img { margin-right: 0; margin-left: 15px; }
.box div.box-inner-block { background-position: right top !important; padding-right: 60px; padding-left: 0; }
.box .tieicon-boxicon {float: right;margin-left: 0;margin-right: -70px;}
.starlist li, .checklist li {background-position: right top;padding-right: 25px;padding-left: 0;}

/*   Small Screens :      -----------------------------   */
@media only screen and ( max-width: 1200px ){
	.container {margin-right: 300px}
	#content {
		width: 94%;
		margin: 50px 3% 50px 0;
	}
	#main-content .item-list, .password-protected, body.single .single-folio {
		padding-bottom: 60px;
		margin-bottom: 65px;
	}
	#sidebar {width: 300px;}
	#main-nav ul li.horiz-menu ul.sub-menu{	right: 270px; left: auto;}
}

/*   TABLET  : 1024px -----------------------------   */
@media only screen and ( max-width: 1023px ) {
	.container {margin-right: 0}
}

